#toContact {
    scroll-margin-top: 150px;
}

.contact {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1200px;
    margin-bottom: 60px;
}

.form__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 700px) {
    .form__grid {
        grid-template-columns: 1fr;
    }
}