.footer {
    background-color: gainsboro;
    border-top: 2px double white;
    padding: 10px;
    
    
}

.footer .footer__container {
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 90%;
    margin: 0 auto;  
}

.footer .footer__container .footer__link__image {
    width: 40px;
    height: 40px;
}