.projects {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.header__back {
    margin-top: 25px;
    text-align: left;
    font-size: 0.9em;    
    color: var(--header-text-color);
    text-decoration: none;
}

.projects__text p {
    font-size: 0.9em;
}

.projects__content {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 25px;
    margin-top: 50px;
}

.projects__item img {
    width: 100%;
    border-radius: 5px;
}

@media (width >= 700px) {
    .projects__content {
        grid-template-columns: repeat(4, 1fr);
    }
}